.contact{
    border-collapse: collapse;
	width: 100%;
  }
  .contact tr{
    height: 7rem;
  }
  .contact th{
    width: 150px;
	margin-right: 50px;
	text-align: right;
  }
  .contact td{
    width: 480px;
	box-sizing: border-box;
  }
  .large{
	  width: 480px;
  }
 .button{
	  height: 3rem;
	  color: #fff;
	  padding: 10px 10x 10px 10px;
	  visibility:transparent;
	  opacity: 0.8;
	  cursor: pointer;
	  background-color: #008B8B;
	  background-repeat:no-repeat;
	  margin-left: 100px;
  }

