.contact{
    border-collapse: collapse;
	width: 100%;
  }
  .contact tr{
    height: 7rem;
  }
  .contact th{
    width: 150px;
	text-align: right;
  }
  .contact td{
    width: 480px;
	box-sizing: border-box;
  }
  .large{
	  width: 480px;
	  margin-left: 10px; 
  }
  .espace{
	 margin-left: 10px; 
  }
 .button{
	  height: 3rem;
	  color: #fff;
	  padding: 10px 10x 10px 10px;
	  margin-left: 100px;
	  background-color: #008B8B;
	  
  }
  .contact td input:button{
	margin-left: 100px;
  }
  .button:hover {
    background-color: #008B8B;
	opacity: 0.3;
}
  .button:active {
  background-color: #008B8B;
}

